body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url('assets/background.png');
    background-size: cover;      /* Scale image to cover full screen */
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
}

.navbar{
    display: flex;
    height: 50px;
    background: rgba(58, 57, 57, 0.5);
}

.logo-img{
    height: 50px;
    width: 50px;
    margin-left: 290px;


}
.navElements{

    display:flex;
    flex: 1;
    justify-content:center;
    gap: 100px;
    align-items: center;
    color:#faf9f9;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 300px;

}
.nav:hover{
    cursor: pointer;
    color: #eeec67;
    text-shadow: 0 0 10px #FFFFFF;
    transition: 0.1s;

}

.home {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 100px

}

.katImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 100px 70px 100px 70px;   
    margin-bottom: px;
    background: rgba(58, 57, 57, 0.5);
    
   
}
.kat-img{

    width: 200px; 
    height: 200px;  
    transform: translate(0, -50px);
    border: 2px black;
}

.about{
    width: 500px;
    color: white;
    justify-content: center;
}
.call{
    font-family: Impact, Charcoal, sans-serif;
    color:rgb(239, 248, 116)
}

.life{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.life h5{
    margin: 5px 0; /* top 5px, bottom 5px */
}

.explore{
    background-color: rgb(243, 245, 107);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 100%;
}

.explore:hover{
    -webkit-box-shadow: 0px -1px 100px 9px rgba(119,138,7,0.99); 
    box-shadow: 0px -1px 100px 9px rgba(119,138,7,0.99);
    cursor: pointer;
    transition: 0.3s;
}


  @media (max-width: 768px) {
    body, html {
        background-image: url('assets/mobileBackground.png');
        background-size: auto;     /* Scale image to cover full screen */
        background-repeat: no-repeat;
        background-position: center center; /* Center the image */

    .navbar {
         height: auto;
    }
    .logo-img {
      margin: 10px;
      width: 40px;
      height: 40px;
    }
    .navElements {
      flex-direction: row;
      align-items: center;
      margin: 0;
      gap: 20px;
      font-size: 50%;
    }
    .home {
      flex-direction: column;
      gap: 30px;
      padding: 20px;
    }
    .about {
      width: 90%;
      text-align: center;
    }
    .katImage {
      padding: 20px;
    }
    .kat-img {
      width: 30%;
      height: 45%;
      transform: none;
    }
    .call{
       margin-bottom: -10px;
       margin-top: -10px
        
    }
    .description{
        display: flex;
        justify-content: center;    
        flex-direction: column;
        align-items: center;
    }
  }
}
